<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your Tasks
      </h1>
      <h2 class="subtitle">
        You can view, edit and update tasks from here
      </h2>
    </div>
  </div>
</section>

<secion class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
      <table class="table">
        <thead>
          <tr>
            <th>Lead</th>
            <th>Task Type</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
          <tr>
            <td><%= task.lead_id %></td>
            <td><%= task.task_type %></td>
            <td><%= task.description %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</secion>