<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Add New Lead
      </h1>
      <h2 class="subtitle">
        Please fill in the required information correctly
      </h2>
    </div>
  </div>
</section>

<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-4">
				<%= render 'new_form', lead: @lead %>
			</div>
		</div>
	</div>
</section>