<% if dealer_signed_in? %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard
      </h1>
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-white is-medium">inventory</span>
            <span class="tag is-black is-medium"><%= @inventory_count %></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-white is-medium">leads</span>
            <span class="tag is-black is-medium"><%= @lead_count %></span>
          </div>
        </div>

        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-white is-medium">tasks</span>
            <span class="tag is-black is-medium"><%= @task_count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% else %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sign Up Today
      </h1>
      <h2 class="subtitle">
        Pipewheel is a simple CRM for automotive dealerships
      </h2>
    </div>
  </div>
</section>
<% end %>