<% if dealer_signed_in? %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Dashboard
      </h1>
      <h2 class="subtitle">
        A complete overview of your inventory, leads and tasks
      </h2>
    </div>
  </div>
</section>
<% else %>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sign Up Today
      </h1>
      <h2 class="subtitle">
        Pipewheel is a simple CRM for automotive dealerships
      </h2>
    </div>
  </div>
</section>
<% end %>